{{extend 'layout.html'}}


{{block CONTENT}}
    <div class="slide">
        <form class="pure-form post-form">
            <input type="text" name="secret" placeholder="{{=T("Secret")}}" class="pure-input-1 pure-input-rounded" required>
            <fieldset class="pure-group">
                <select name="category" class="pure-input-1" required>
                {{for k in category :}}
                    <option value="{{=k}}">{{=category[k]}}</option>
                {{pass}}
                </select>
                <input type="text" name="title" placeholder="{{=T("Title")}}" class="pure-input-1" required/>
                <textarea name="message" placeholder="{{=T("Content")}}" class="pure-input-1" rows="7" required></textarea>
            </fieldset>

            <button type="submit" name="submit" class="pure-input-1 pure-button pure-button-primary">{{=T("Submit")}}</button>
        </form>
    </div>

    {{for message in messages :}}
        <div class="slide post">
            <h2 class="post-head">{{=message['title']}}</h2>

            <ul class="post-info">
                <li class="post-info-item"><span class="post-info-key">{{=T('Category')}}</span><span class="post-info-value">{{=message['category']}}</span></li>
                <li class="post-info-item"><span class="post-info-key">{{=T('Date')}}</span><time class="post-info-value">{{=message['date']}}</time></li>
            </ul>

            {{if len(message['content']) > 300 :}}
            {{content = message['content'][0:297] + "..."}}
                <p class="post-content">{{=content}}</p>

                <p class="post-content post-content-more">{{=T("Read More")}}</p>
            {{elif True : }}
                <p class="post-content">{{=message['content']}}</p>
            {{pass}}

            <ul class="post-foot">
                <li class="post-foot-item"><span class="post-foot-key">Views</span><span class="post-foot-value">150</span></li>
                <li class="post-foot-item"><span class="post-foot-key">Comment</span><span class="post-foot-value">30</span></li>
            </ul>
        </div>
    {{pass}}

    <div class="slide post">
        <h2 class="post-head">This is a special message</h2>

        <ul class="post-info">
            <li class="post-info-item"><span class="post-info-key">{{=T('Category')}}</span><span class="post-info-value">Simple</span></li>
            <li class="post-info-item"><span class="post-info-key">{{=T('Date')}}</span><time class="post-info-value">2015.6.2</time></li>
        </ul>

        <p class="post-content">
            Pure doesn't ship with icon fonts, but we play nice with existing ones.
            Incorporating icon fonts with Pure Buttons is easy. In the example below, we're using icon fonts from Font Awesome.
            Put the Font Awesome CSS file on your page and use an &lt;i&gt; element within a pure-button element...
        </p>

        <p class="post-content post-content-more">Read More</p>

        <ul class="post-foot">
            <li class="post-foot-item"><span class="post-foot-key">Views</span><span class="post-foot-value">150</span></li>
            <li class="post-foot-item"><span class="post-foot-key">Comment</span><span class="post-foot-value">30</span></li>
        </ul>
    </div>

    <div class="slide post">
        <h2 class="post-head">This is a special message</h2>

        <ul class="post-info">
            <li class="post-info-item"><span class="post-info-key">Category</span><span class="post-info-value">Simple</span></li>
            <li class="post-info-item"><span class="post-info-key">Date</span><time class="post-info-value">2015.6.2</time></li>
        </ul>

        <p class="post-content">
            Pure doesn't ship with icon fonts, but we play nice with existing ones.
            Incorporating icon fonts with Pure Buttons is easy. In the example below, we're using icon fonts from Font Awesome.
            Put the Font Awesome CSS file on your page and use an &lt;i&gt; element within a pure-button element...
        </p>

        <p class="post-content post-content-more">Read More</p>

        <ul class="post-foot">
            <li class="post-foot-item"><span class="post-foot-key">Views</span><span class="post-foot-value">150</span></li>
            <li class="post-foot-item"><span class="post-foot-key">Comment</span><span class="post-foot-value">30</span></li>
        </ul>
    </div>
{{end}}
