<div class="slide post">
    <h2 class="post-head">{{=result['title']}}</h2>

    <ul class="post-info">
        <li class="post-info-item"><span class="post-info-key">Category</span><span class="post-info-value">{{=result['category']}}</span></li>
        <li class="post-info-item"><span class="post-info-key">Date</span><time class="post-info-value">{{=result['date']}}</time></li>
    </ul>

    <p class="post-content">{{=result['content']}}</p>

    <p class="post-content post-content-more">{{=T("Read More")}}</p>

    <ul class="post-foot">
        <li class="post-foot-item"><span class="post-foot-key">Views</span><span class="post-foot-value">150</span></li>
        <li class="post-foot-item"><span class="post-foot-key">Comment</span><span class="post-foot-value">30</span></li>
    </ul>
</div>